<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>locationName</key>
		<string>Creamfields</string>
		<key>date</key>
		<date>2015-08-27T23:00:00Z</date>
	</dict>
	<dict>
		<key>locationName</key>
		<string>WE ARE FSTVL</string>
		<key>date</key>
		<date>2015-05-29T23:00:00Z</date>
	</dict>
	<dict>
		<key>locationName</key>
		<string>Wireless</string>
		<key>date</key>
		<date>2015-07-02T23:00:00Z</date>
	</dict>
	<dict>
		<key>locationName</key>
		<string>HIDEOUT</string>
		<key>date</key>
		<date>2015-06-27T23:00:00Z</date>
	</dict>
	<dict>
		<key>backImage</key>
		<string></string>
		<key>locationName</key>
		<string>Tomorrow land</string>
		<key>date</key>
		<date>2015-07-23T23:00:00Z</date>
	</dict>
	<dict>
		<key>backImage</key>
		<string></string>
		<key>locationName</key>
		<string>Glastonbury</string>
		<key>date</key>
		<date>2015-06-23T23:00:00Z</date>
	</dict>
	<dict>
		<key>backImage</key>
		<string></string>
		<key>locationName</key>
		<string>V festival</string>
		<key>date</key>
		<date>2015-08-21T23:00:00Z</date>
	</dict>
	<dict>
		<key>backImage</key>
		<string></string>
		<key>locationName</key>
		<string>T IN THE PARK</string>
		<key>date</key>
		<date>2015-07-09T23:00:00Z</date>
	</dict>
	<dict>
		<key>backImage</key>
		<string></string>
		<key>locationName</key>
		<string>Parklife</string>
		<key>date</key>
		<date>2015-06-05T23:00:00Z</date>
	</dict>
	<dict>
		<key>backImage</key>
		<string></string>
		<key>locationName</key>
		<string>secret garden party</string>
		<key>date</key>
		<date>2015-07-10T23:00:00Z</date>
	</dict>
	<dict>
		<key>backImage</key>
		<string></string>
		<key>locationName</key>
		<string>Isle of Wight</string>
		<key>date</key>
		<date>2015-07-22T23:00:00Z</date>
	</dict>
	<dict>
		<key>backImage</key>
		<string></string>
		<key>locationName</key>
		<string>bestival</string>
		<key>date</key>
		<date>2015-09-09T23:00:00Z</date>
	</dict>
</array>
</plist>
